@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  position: relative;
  background-image: url(../public/image/tim-toomey-n-daDckQfKo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.663);
  z-index: 1;
}

.login-content {
  position: relative;
  z-index: 2;
}

.ant-menu-item.active-menu-item {
  background-color: #1677ff;
  color: white;
}

.search input[type="search"] {
  width: 340px;
  border: 1px solid rgb(207, 206, 206);
  display: block;
  padding: 8px 4px 8px 40px;
  height: 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.selectOp select {
  background-color: transparent;
  border: 1px solid rgb(207, 206, 206);
  margin: 0;
  width: 250px;
  height: 40px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
